.gift{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.cover{
  width: 100px;
  height: 25px;
  background-color: green;
  box-shadow: 10px black;
}

.box{
  width: 90px;
  height: 60px;
  background-color: green;
}

.tie1{
  position: absolute;
  width: 15px;
  height: 85px;
  background-color: red;
}

.tie2{
  position: absolute;
  width: 90px;
  height: 15px;
  top: 40px;
  background-color: red;
}